<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Timer</title>
		<link rel="stylesheet" href="{{url_for('static',filename='bootstrap.css')}}" type="text/css">
		<link rel="stylesheet" href="{{url_for('timer.static',filename='timer.css')}}?v={{t}}" type="text/css">
		<link rel="stylesheet" href="{{url_for('static',filename='nav.css')}}?v={{t}}" type="text/css">
		<script type="text/javascript" src="{{url_for('static',filename='velocity.js')}}"></script>
		<script type="text/javascript" src="{{url_for('timer.static',filename='timer.js')}}?v={{t}}"></script>
	</head>
	<body onload="setDefaults()" onresize="updateClockPosition()">
		<div id="background-div" class="background" style="background-image:"></div>
		<div class="overlay" style="background-image: url('{{url_for('timer.static',filename='overlay.png')}}?v={{t}}')"></div>
		{{navBar|safe}}
		<div class="content">
			<div class="title">
				<span id="title-text" contenteditable="true" onblur="titleChange()" onfocus="titleFocus()">Hello</span>
				<hr id="title-underline">
			</div>
			<button id="startBtn" onclick="startClock()" class="btn btn-default">Start</button>
			<button id="pauseBtn" onclick="pauseClock()" class="btn btn-default">Pause</button>
			<button id="resetBtn" onclick="resetClock()" class="btn btn-default">Reset</button>
			<svg id="clock-svg" class="clock-svg">
				<circle style="opacity: 0.2" id="clock-back" cx="150" cy="150" r="150" fill="rgb(235,235,235)" />
				<g>
					<path id="arc1" d="m150 3 a144 144 0 0 1 0 0" stroke="#2196f3" stroke-width="5" fill="none"></path>
				</g>
				<g>
					<path id="arc2" d="m297 150 a144 144 0 0 1 0 0" stroke="#2196f3" stroke-width="5" fill="none"></path>
				</g>
				<g>
					<path id="arc3" d="m150 297 a144 144 0 0 1 0 0" stroke="#2196f3" stroke-width="5" fill="none"></path>
				</g>
				<g>
					<path id="arc4" d="m3 150 a144 144 0 0 1 0 0" stroke="#2196f3" stroke-width="5" fill="none"></path>
				</g>
			</svg>
			<span id="clock-time" onblur="clockTimeBlur()" onfocus="clockTimeFocus()" class="clock-time" contenteditable="true">00:10:00</span>
		</div>
		<div>
			<span id="error-container" class="error-container"></span>
		</div>
		<div class="footer">
			<div id="left" class="left">
				<!-- Link icon by Icons8 -->
				<input id="url_link">
				<img src="{{url_for('static',filename='link.png')}}?v={{t}}" title="Link" class="link" onclick="toggle()">
			</div>
			<div id="right" class="right">
				<a href="https://icons8.com/icon/91/Link">Icon credit</a>
				<span style="color: white"> || </span>
				<a id="img-credit" href="">Image credit</a>
				<span style="color: white"> || Press F to Focus</span>
			</div>
		</div>
	</body>
</html>
