.flash-answers{
  opacity: 0.0;
}

.flash-answers:hover{
  opacity: 1.0;
}

.equal {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
}

.title{
	margin-bottom: 5%;
}

.score{
	float: right;
	margin: 0;
}