<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Flashcard Builder</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="{{url_for('static',filename='bootstrap_flat.css')}}" type="text/css">
    <link rel="stylesheet" href="{{url_for('flashcard.static',filename='flashcard.css')}}" type="text/css">
    <link rel="stylesheet" href="{{url_for('static',filename='nav.css')}}?v={{tag}}" type="text/css">
  </head>
  <body style="padding-top: 10%; padding-left: 5%; padding-right: 5%">
  {{navBar|safe}}
  <div class="row">
    <div class="col-md-6">
      <form method="POST">
      <input type="text" class="form-control" name="title" value="My Flashcards">
      <br>
      {%if err %}
      <div class="alert alert-dismissible alert-danger" id='alert_1'>
        <button type="button" class="close" onclick="document.getElementById('alert_1').style.display = 'none';">&times;</button>
        <strong>{{msg[0]}}</strong> <br>{{msg[1]}}
      </div>
            <textarea class="form-control" rows="20" name="inputText">{{original}}</textarea>
      {%else%}
      <textarea class="form-control" rows="20" name="inputText">What is 2 + 2?
---
4

What is 1 + 4 * 5?
---
21!
if you got it wrong, remember to break it down like this
1+(4*5)

If i roll two 3 sided dice, what's the chance the sum of the dice is 6?
---
There are 9 possibilites and only 1 results in 6 so 1/9.
!table
   1  2  3
1  2  3  4
2  3  4  5
3  4  5  6
!endtable
see! only 3+3 results in 6. </textarea>
      {%endif%}
      <br>
      <button class="btn btn-success" type="submit">Create Flashcards!</button>
      </form>
    </div>
    <div class="col-md-6">
      <blockquote>
        <p>To use just put in your flashcards in the textbox on the left!</p>
      </blockquote>
      <blockquote>
        <p>The format should be the question, three hyphens ('-') and then the answer. Then just put in a blank line and repeat for as many flashcards as you need!</p>
      </blockquote>
      <blockquote>
        <p>If you want to put in a table, put '!table' on a line on it's own and below that put in your table using any standard tab or space seperated format. Use `!endtable` to signify that the table has ended. See the example on the left. </p>
      </blockquote>
      <blockquote>
        <p>Click on create flashcards when you're ready!</p>
      </blockquote>
    </div>
  </div>
  </body>
</html>
