<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Deep Image Creator</title>
		<link rel="stylesheet" href="{{url_for('static',filename='bootstrap.css')}}" type="text/css">
		<link rel="stylesheet" href="{{url_for('dic.static',filename='dic.css')}}?v={{t}}" type="text/css">
		<link rel="stylesheet" href="{{url_for('static',filename='nav.css')}}?v={{t}}" type="text/css">
		<script type="text/javascript" src="{{url_for('static',filename='velocity.js')}}"></script>
		<script type="text/javascript" src="{{url_for('dic.static',filename='dic.js')}}?v={{t}}"></script>
	</head>
	<body onload="getBackgroundImage()">
		<div id="background-div" class="loading"></div>
		<div class="overlay" style="background-image: url('{{url_for('dic.static',filename='overlay.png')}}?v={{t}}')"></div>
		{{navBar|safe}}
		<div class="title-container">
			<form autocomplete="off">
				<div class="top">
					<input id="top" onclick="closeLink()" value="{{top}}" />
				</div>
				<hr>
				<div class="bottom">
					<input id="bottom" onclick="closeLink()" value ="{{bot}}"/>
				</div>
			</form>
		</div>
		<div class="footer">
			<div class="left" id="left">
				<!-- Link icon by Icons8 -->
				<input id="url_link">
				<img src="{{url_for('static',filename='link.png')}}?v={{t}}" title="Link" class="link" onclick="toggle()">
			</div>
			<div class="right" id="right">
				<a href="https://icons8.com/icon/91/Link">Icon credit</a>
				<span style="color: white"> || </span>
				<a id="img-credit"href="">Image credit</a>
				<span style="color: white"> || Press 'F' to focus</span>
			</div>
		</div>
	</body>
</html>
