<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Deep Image Creator</title>
		<!-- Development versions of react + babel -->
		<script crossorigin src="https://unpkg.com/react@15/dist/react.js"></script>
		<script crossorigin src="https://unpkg.com/react-dom@15/dist/react-dom.js"></script>
		
		<!-- bootstrap -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/react-bootstrap/0.31.3/react-bootstrap.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap-theme.min.css">
	</head>
	<body>
		<div id="nav"></div>

		<!-- Components -->
		<script type="text/javascript" src="{{url_for('static',filename='nav.js')}}?v={{t}}"></script>
	</body>
</html>
