::-webkit-scrollbar { 
    display: none; 
}
.backgroundImage{
	width: 100%;
	height: 100vh;
	background-image: url("../static/images/background_2_small.jpg?20");
	background-size: cover !important;
	transition: background-image 0.5s;
}
@media(min-width: 600px){
	.backgroundImage{
		width: 100%;
		height: 100vh;
		background-image: url("../static/images/background_2_medium.jpg?20");
		background-size: cover;
		transition: background-image 0.5s;
	}
}
@media(min-width: 915px){
	.backgroundImage{
		width: 100%;
		height: 100vh;
		background-image: url("../static/images/background_2.jpg?20");
		background-size: cover;
		transition: background-image 0.5s;
	}
}

.title{
	color: #FFFFFF;
	text-align: center;
}

.mainView{
	overflow: scroll;
}

table {
  padding: 0;border-collapse: collapse;
}
table tr {
    border-top: 1px solid #cccccc;
    background-color: white;
    margin: 0;
    padding: 0; }
    table tr:nth-child(2n) {
      background-color: #f8f8f8; }
    table tr th {
      font-weight: bold;
      border: 1px solid #cccccc;
      margin: 0;
      padding: 6px 13px; }
    table tr td {
      border: 1px solid #cccccc;
      margin: 0;
      padding: 6px 13px; }
    table tr th :first-child, table tr td :first-child {
      margin-top: 0; }
    table tr th :last-child, table tr td :last-child {
      margin-bottom: 0;
}
.error{
  padding-right: 2em;
}
.fixed-sidebar{
  position: fixed;
  padding-left: 58%;
  padding-right: 1%;
}


.heading{
  margin-top: 0;
  padding-top: 5%;
}


/* Card */
/* Box shadow from Samuel Thornton */
/* https://codepen.io/sdthornton/pen/wBZdXq */
.card{
  background: white;
  width: 25%;
  height: 100%; 
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  text-align: center;
  float: left;
  overflow: hidden;
}

@media only screen and (max-width: 915px){
  .card{
    background: white;
    width: 50%;
    height: 100%; 
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    text-align: center;
    float: left;
    overflow: hidden;
  }
}
@media only screen and (max-device-width: 915px){
  .card{
    background: white;
    width: 50%;
    height: 100%; 
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    text-align: center;
    float: left;
    overflow: hidden;
  }
}

.card-text{
  max-height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-right: -16px;
}
/* sidebar and tabs */
.sidebar{
  position: absolute;
  z-index: 5;
}
.tab-1{
  position: absolute;
  z-index: 4;
  margin-left: 1%;
  background-color: #EBEBEB;
}
.tab-2{
  position: absolute;
  z-index: 3;
  margin-left: 2%;
  background-color: #EBEBEB;
}
.tab-3{
  position: absolute;
  z-index: 2;
  margin-left: 3%;
  background-color: #EBEBEB;
}
.tab-1 .tab-label{
  background: #e51c23;
  float: right;
  width: 10%;
  height: 100%;
}
.tab-2 .tab-label{
  background: #862197;
  float: right;
  width: 10%;
  height: 100%;
}
.tab-3 .tab-label{
  background: #2196f3;
  float: right;
  width: 10%;
  height: 100%;
}
.tab-1 hr{
  background-color: #e51c23;
  width: 80%;
  height: 1px;
}
.tab-2 hr{
  background-color: #862197;
  width: 80%;
  height: 1px;
}
.tab-3 hr{
  background-color: #2196f3;
  width: 80%;
  height: 1px;
}
.tab-text{
  float: left;
  text-align: center;
  width: 74%;
  margin-left: 8%;
  margin-right: 8%;
}
.nav-butt{
  cursor: pointer;
}
.social-link{
  padding: 0;
  width: 25px;
  height: 25px;
  margin-left: 20px;
  margin-right: 20px;
  opacity: 0.5;
}

.social-link:hover{
  opacity: 0.8;
}
/* Handle scrolling on firefox */
#wrapper {
    overflow: hidden;
}
#scroller {
    overflow: scroll;
    height: 100vh;
}

/* code for flashcards */
.flash-answers{
  opacity: 0.0;
}

.flash-answers:hover{
  opacity: 1.0;
}

.equal {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
}
