<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Zain Afzal</title>
	<link rel="stylesheet" href="../static/bootstrap.css?v=1111" type="text/css">
	<style>
		.title{
			padding-top: 35vh;
		}
		.title hr{
			background-color: #FFFFFF;
			width: 80%;
			height: 1px;
		}
		.title h1,h2,h3,h4,h5,h6 {
			color: #FFFFFF;
			text-align: center;
		}
	</style>
	</head>
	<body style="background-image: url('../static/images/{{img}}?8'); background-size: cover; height: 100%;">
		<div class="title">
			<h1> {{ top }}</h1>
			<hr>
			<h4> {{ bot }}</h4>
		</div>
	</body>
</html>
