<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Zain Afzal</title>
	<link rel="stylesheet" href="../static/bootstrap.css?v=1111" type="text/css">
	<link rel="stylesheet" href="../static/timer.css?v=1111" type="text/css">
	</head>
	<body class="timer-request-body">
		<div class="timer-request-main">
			<h3> Type in  some text </h3>
			<h3> and i'll make it ~deep~</h3>
			<hr>
			<div class="row">
				<div class="col-xs-4"></div>
				<div class="col-xs-4">
					<form type="post">
						<div class="row">
							<input name="top" class="form-control" value="TOP TEXT" type="text">
						</div>
						<div class="row">
							<input name="bot" class="form-control" value="BOTTOM TEXT" type="text">
						</div>
						<br>
						<button type="submit" class="btn btn-success">Submit</button>
					</form>
				</div>
				<div class="col-xs-4"></div>
			</div>
		</div>
	</body>
</html>
