<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="../static/bootstrap_2.css" type="text/css">
    <link rel="stylesheet" href="../static/main.css?v=1114" type="text/css">
    <script>
      var totalCount = 0;
      var rightCount = 0;
      var allCount = {{count}};
      function card_wrong(elem){
        document.getElementById(elem+'_Q').style.background = 'rgba(231,76,60,0.2)';
        document.getElementById(elem+'_B').style.display = 'none';
        totalCount++;
        update_count_view();
      }
      function card_right(elem){
        document.getElementById(elem).style.display = 'none';
        totalCount++;
        rightCount++;
        update_count_view();
      }
      function update_count_view(){
        document.getElementById("right_count").innerHTML = rightCount;
        document.getElementById("total_count_1").innerHTML = totalCount;
        document.getElementById("total_count_2").innerHTML = totalCount;
        document.getElementById("all_count").innerHTML = allCount;
        document.getElementById("all_percentage").innerHTML = Math.round(totalCount/allCount*100);
        document.getElementById("right_percentage").innerHTML = Math.round(rightCount/totalCount*100);
      }
    </script>
  </head>
  <body style="padding: 10%">
<div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="../" class="navbar-brand">{{title}}</a>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav" style="float: right;">
            <li><a>Attempted:</a></li>
            <li><a><span id="all_percentage">0</span>%</a></li>
            <li><a>(<span id="total_count_1">0</span>/<span id="all_count">{{count}}</span>)</a></li>
            <li><a>       </a></li>
            <li><a>Correct:</a></li>
            <li><a><span id="right_percentage">0</span>%</a></li>
            <li><a>(<span id="right_count">0</span>/<span id="total_count_2">0</span>)</a></li>
          </ul>
        </div>
      </div>
    </div>

  </div>
  {%for card in flashcards%}
  <div class="row" id="{{card[2]}}">
    <div class="col-md-4">
      <div class="panel panel-info" id="{{card[2]}}_Q">
        <div class="panel-body">
         {{card[0]|safe}}
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-info">
        <div id="{{card[2]}}_A" class="panel-body flash-answers">
          {{card[1]|safe}}
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div id="{{card[2]}}_B"style="padding-top: 12%">
        <button class="btn btn-danger btn-xs" onclick="card_wrong('{{card[2]}}')">Wrong</button>
        <button class="btn btn-success btn-xs" onclick="card_right('{{card[2]}}')">Right</button>
      </div>
    </div>
    <br>
  </div>
  {% endfor %}
  </body>
</html>
