<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Zain Afzal</title>
	<link rel="stylesheet" href="../static/bootstrap.css" type="text/css">
	<link rel="stylesheet" href="../static/main.css?{{tag}}" type="text/css">
	<script type="text/javascript" src="../static/js/jquery.js"></script>
	<script type="text/javascript" src="../static/js/velocity.js"></script>
	<script type="text/javascript" src="../static/js/main.js?{{tag}}"></script>
	</head>
	<body>
		<div class="backgroundImage">
			<div class="container mainView">
			<div>
				<div id="head" style="text-align: center; padding-top: 25vh;">
					<h1 style="color: #FFFFFF; margin: 0;">ZAIN AFZAL</h1>
					<div id="title" class="row">
							<h6 style="color: #FFFFFF; margin-top: 0;">Find out more</h6>
					</div>
					<div class="row">
						<div class="col-xs-5">
							<div id="ul1" style="border-bottom: 1px solid #e5e5e5; margin-left: 100%; height: 15px; width: 0%"></div>
						</div>
						<div id="ul2" class="col-xs-2" style="padding: 0" onclick="openNav()">
							<div class="row">
							<div class="col-xs-4"></div>
							<div class="col-xs-4">
								<img id="begin" style="cursor: pointer; width: 30px; height: 30px; padding-bottom: 0%; text-align: center" src="{{url_for('static', filename='images/open.png')}}">
							</div>
							<div class="col-xs-4"></div>
							</div>
						</div>
						<div class="col-xs-5">
							<div id="ul3" style="border-bottom: 1px solid #e5e5e5; height: 15px; width: 0%"></div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-6" style="text-align: right; padding: 0;">
							<div id="navL" style="opacity: 0">
								<div class="row">
									<div class="col-xs-6" style="padding: 0; "><img style="padding: 0; width: 38px; height: 38px;" src="../static/images/email.png"></div>
									<div class="col-xs-6" style="padding: 0; "><img style="padding: 0; width: 40px; height: 40px;" src="../static/images/github.png"></div>
								</div>
							</div>
						</div>
						<div class="col-xs-6" style="text-align: left; padding: 0;">
							<div id="navR" style="opacity: 0">
								<div class="row">
									<div class="col-xs-6" style="padding: 0; "><img style="padding: 0; width: 38px; height: 38px;" src="../static/images/linkedin.png"></div>
									<div class="col-xs-6" style="padding: 0; "><img style="padding: 0; width: 38px; height: 38px;" src="../static/images/insta.png"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div id="data" style="padding-top: 10vh; opacity: 0">
					<div class="row">
						<div class="col-md-4">
							<div class="panel panel-danger" style="background-color: rgba(240,240,240,0.7);">
								<div class="panel-body" style="text-align: center;">
									<h4> Subleq </h4>
									<hr>
									A game about a single instruction set arcitecture <br>
									<a href='http://subleq.herokuapp.com/1' style="padding-right: 5vw"> Live </a><a href="https://github.com/rsaber/subleq"> Github </a> 
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="panel panel-danger" style="background-color: rgba(240,240,240,0.7);">
								<div class="panel-body" style="text-align: center;">
									<h4>BF Machine</h4>
									<hr>
									A debugging/runtime environment for  BF<br>
									<a href='/BFD' style="padding-right: 5vw"> Live </a><a href="https://github.com/zainafzal08/BF-Machine"> Github </a> 
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="panel panel-danger" style="background-color: rgba(240,240,240,0.7);">
								<div class="panel-body" style="text-align: center;">
									<h4>General VM</h4>
									<hr>
									A custom instruction set run through python <br>
									<a href='https://github.com/zainafzal08/General_VM/blob/master/docs/VM_Documentation_v1.md' style="padding-right: 5vw"> Docs </a><a href="https://github.com/zainafzal08/General_VM"> Github </a> 
								</div>
							</div>
						</div></div>
					<div class="row">
						<div class="col-md-4">
							<div class="panel panel-danger" style="background-color: rgba(240,240,240,0.7);">
								<div class="panel-body" style="text-align: center;">
									<h4> University </h4>
									<hr>
									Some markdown notes for my Computer Science/Biochemistry courses<br>
									<div>
									<a href="https://github.com/zainafzal08/Notes"> Notes </a> 
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="panel panel-danger" style="background-color: rgba(240,240,240,0.7);">
								<div class="panel-body" style="text-align: center;">
									<h4>Crypto</h4>
									<hr>
									Some basic XOR Chipher and base 64 encoding programs written in C<br>
									<div>
									<a href="https://github.com/zainafzal08/Crypto"> Github </a> 
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="panel panel-danger" style="background-color: rgba(240,240,240,0.7);">
								<div class="panel-body" style="text-align: center;">
									<h4>Generic Data</h4>
									<hr>
									A program that stores abstract data in a structure chosen at runtime <br>
									<div>
									<a href="https://github.com/zainafzal08/GenericData"> Github </a> 
									</div>
								</div>
							</div>
						</div></div>
				</div>
			</div>
			</div>
		</div>
	</body>
</html>
