<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Zain Afzal</title>
	<link rel="stylesheet" href="../static/bootstrap.css" type="text/css">
	<link rel="stylesheet" href="../static/main.css?{{tag}}" type="text/css">
	</head>
	<body style="background-image: url('../static/images/hipster.jpg?3'); background-size: cover;">
		<div style="color: white; text-align: center; padding-top: 35vh">
			<h1 style="color: white;"> Type in Your message!</h1>
			<hr style="background-color: #FFFFFF; width: 80%; height: 1px;">
			<div class="row">
				<div class="col-xs-4"></div>
				<div class="col-xs-4">
					<form type="post">
						<input name="top" class="form-control" placeholder="top text" type="text" style="color: white">
						<input name="bot" class="form-control" placeholder="bottom text" type="text" style="color: white">
						<button type="submit" style="display: none">
					</form>
				</div>
				<div class="col-xs-4"></div>
			</div>
		</div>
	</body>
</html>
