<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Zain Afzal</title>
	<link rel="stylesheet" href="../static/bootstrap.css?{{tag}}" type="text/css">
	<link rel="stylesheet" href="../static/main.css?{{tag}}" type="text/css">
	</head>
	<body style="background-color: #272b30">
		<div style="color: white; text-align: center; padding-top: 25vh">
			<h1 style="color: white;"> Type in your Title And Time!</h1>
			<hr style="background-color: #FFFFFF; width: 80%; height: 1px;">
			<div class="row">
				<div class="col-xs-4"></div>
				<div class="col-xs-4">
					<form type="post">
						<input name="title" class="form-control" value="My Timer" type="text" style="color: white">
						<div class="row">
						<div class="col-xs-5">
						<input name="time_hours" class="form-control" type="text" value="00" style="color: white">
						</div>
						<div class="col-xs-2"><h4 style="color: white">:</h4></div>
						<div class="col-xs-5">
							<input name="time_mins" class="form-control" type="text" value="10" style="color: white">
						</div>
						</div>
						<br>
						<div class="row">
						<div class="col-xs-3" style="padding-right: 0"><h5 style="color: white; text-align: left">Turn Red</h5></div>
						<div class="col-xs-2">
							<input name="danger" class="form-control" value="    1" type="text" style="color: white">
						</div>
						<div class="col-xs-6"><h5 style="color: white; text-align: left">Minute(s) from finish</h5></div>
						</div>
						<br>
						<br>
						<button type="submit" class="btn btn-success">Submit</button>
					</form>
				</div>
				<div class="col-xs-4"></div>
			</div>
		</div>
	</body>
</html>
